<div class="container-fluid">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-6 text-justify">
      <!-- dream flavor text here -->
      <p>{{dream.myWelcome}}</p>
    </div>
    <div class="col-xs-4">
      <!-- button sends user to Porch where current local conditions are displayed -->
      <!-- <button class="btn btn-default btn-md active"
              ng-click="dream.navigation('room')">
          Wake Up
      </button> -->
      <button class="btn btn-default btn-md active"
              ng-click="dream.navigation('porch')">
          <p>Dreams Are Getting Weirder.</p>
          <p>Better Wake Up.</p>
      </button>
    </div>
  </div>
</div>
