<div class="container">
  <div class="row">
    <div class="col-xs-6 text-justify">
      <p>You step out onto the porch, stretching and shaking off the last tendrils of that ill dream. And not like "Licesed To Ill", either. Actually bad, but not like Michael Jackson's "Bad"....Nevemind; what's the weather look like?
      </p>
      <!-- porch. user sees current local weather conditions -->
      <p>{{porch.temperature}}{{porch.humidity}}{{porch.wind}}</p>
      <p>

      </p>
    </div>
    <div class="col-xs-4">
      <!-- button sends user back inside from porch. Basically allows user to see another random dream flavor text. -->
      <button class="btn btn-default btn-md active"
              ng-click="porch.navigation('dream')">
          Go Back to Bed
      </button>

      <!-- button sends user to Crone where user can get local forecasts (3-day and 10-day) and current conditions in other cities via talisman input. -->
      <button class="btn btn-default btn-md active"
              ng-click="porch.navigation('crone')">
          Visit the Old Crone
      </button>
    </div>
  </div>
</div>
