<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-6">
      <p>Quaffing (yes, what of it?) the potion, you promtly fall flat on your back. You are compelled to look up, paralyzed. The clouds speed up. Everything blurs and you can see the future of your world...
      </p>
    </div>
    <div class="col-xs-4">
      <p>
        <!-- Return to The Old Crone - crone.html -->
        <button class="btn btn-default btn-md active"
                ng-click="navigation('crone')">
            <p>I've seen enough of the future.</p>
            <p>No one should carry such a burden!</p>
        </button>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <p ng-bind-html="forecast"></p>
    </div>
  </div>
</div>